@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @font-face {
  font-family: 'PPMori-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/PPMori-SemiBold.otf') format('otf');
}

@font-face {
  font-family: 'PPMori-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/PPMori-Regular.otf') format('otf');
} */

@font-face {
  font-family: 'PPMori';
  src: url('../public/fonts/PPMori-SemiBold.otf') format('otf'),
       url('../public/fonts/PPMori-Regular.otf') format('otf'),
       url('../public/fonts/PPMori-Extralight.otf') format('otf');
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'PPMori', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'PPMori', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
